body {
  background-image: url(../images/Blackjack_Table.jpg);
  background-size: cover;
}

.page {
  margin: 0 auto;
  width: 880px;
}

header {
  font-size: 162px;
  font-weight: bold;
  margin: 60px;
  padding: 0;
  text-align: center;
}

input.inputBet {
  padding: 5px;
  width: 150px;
}

input.submitBet {
  padding: 10px;
  width: 50px;
}

div.wrapper {
  text-align: center;
}

.button {
  padding: 50px;
  border-radius: 25px;
  margin: 0 10px;
  font-size: 24px;
  outline: none;
}
