body {
  background-image: url(../images/Blackjack_Table.jpg);
  background-size: cover;
  user-select: none;
}

.main-page, .game-page {
  margin: 0 auto;
  width: 1000px;
}

.game-page {
  display: none;
  width: 1000px;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: #FFF;
}

p, li {
  text-align: center;
  font-size: 25px;
  color: #FFF;
  list-style: none;
}

header {
  font-size: 162px;
  font-weight: bold;
  margin: 60px;
  padding: 0;
  text-align: center;
  cursor: default;
}

span {
  font-size: 24px;
  margin: 0 0 0 20px;
  color: #ffffff;
}

/*What was the deal again with the width not exactly equaling the total width?*/
/*200 + 700 = 900 but it doesn't fit. forgot what to do*/
div.wrapper {
  width: 100%;
  margin: 0px;
  display: inline-block;
  text-align: center;
}

.display-values {
  text-align: center;
  color: #ffffff;
  font-size: 24px;
}

.game-buttons {
  padding: 15px;
  border-radius: 7px;
  margin: 10px;
  font-size: 18px;
  outline: none;
  width: 125px;
  display: inline-block;
}

#counter, #player-fund {
  background-color: rgba(100, 100, 100, 0.3);
  border: solid black 1px;
  outline: none;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  padding: 20px;
  width: 36px;
  height: 21px;
  margin: 20px;
  color: white;
}

.chips {
  padding: 20px;
  border-radius: 20px;
  outline: none;
  font-size: 18px;
  width: 8%;
  margin: 20px;
}

.play-button {
  padding: 50px;
  border-radius: 25px;
  margin: 0 10px;
  font-size: 24px;
  outline: none;
}
