body {
  background-image: url(../images/Blackjack_Table.jpg);
  background-size: cover;
  user-select: none;
}

.page, .gamePage {
  margin: 0 auto;
  width: 900px;
}

.gamePage {
  display: none;
  width: 900px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 24px;
  color: #FFEBCD;
}

header {
  font-size: 162px;
  font-weight: bold;
  margin: 60px;
  padding: 0;
  text-align: center;
  cursor: default;
}

input.inputBet {
  padding: 5px;
  width: 150px;
}

input.submitBet {
  padding: 10px;
  width: 50px;
}

div.wrapper {
  text-align: center;
}

.button {
  padding: 50px;
  border-radius: 25px;
  margin: 0 10px;
  font-size: 24px;
  outline: none;
}
